<div>
  <h2 id="page-heading" data-cy="MediaHeading">
    <span jhiTranslate="herokutestingApp.media.home.title">Media</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="herokutestingApp.media.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-media"
        [routerLink]="['/media/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="herokutestingApp.media.home.createLabel"> Create a new Media </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="media?.length === 0">
    <span jhiTranslate="herokutestingApp.media.home.notFound">No media found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="media && media.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileName">
            <span jhiTranslate="herokutestingApp.media.fileName">File Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="filePath">
            <span jhiTranslate="herokutestingApp.media.filePath">File Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fileType">
            <span jhiTranslate="herokutestingApp.media.fileType">File Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="authType">
            <span jhiTranslate="herokutestingApp.media.authType">Auth Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="park.id">
            <span jhiTranslate="herokutestingApp.media.park">Park</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="equipement.id">
            <span jhiTranslate="herokutestingApp.media.equipement">Equipement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="report.id">
            <span jhiTranslate="herokutestingApp.media.report">Report</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let media of media; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/media', media.id, 'view']">{{ media.id }}</a>
          </td>
          <td>{{ media.fileName }}</td>
          <td>{{ media.filePath }}</td>
          <td>{{ media.fileType }}</td>
          <td jhiTranslate="{{ 'herokutestingApp.AuthType.' + media.authType }}">{{ media.authType }}</td>
          <td>
            <div *ngIf="media.park">
              <a [routerLink]="['/park', media.park?.id, 'view']">{{ media.park?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="media.equipement">
              <a [routerLink]="['/equipement', media.equipement?.id, 'view']">{{ media.equipement?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="media.report">
              <a [routerLink]="['/report', media.report?.id, 'view']">{{ media.report?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/media', media.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/media', media.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(media)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="media && media.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
