.content-body {
  background-color: #f6faff;
}

.divTitle {
  margin-left: 20px;
  margin-bottom: 20px;
  border-left: #ff8200 5px solid;
}

.reportTitle {
  font-size: 20px;
  margin-left: -10px;
  font-family: sans-serif;
  font-weight: bold;
}

.btnSend {
  color: white;
  width: 100%;
  background-color: #ff8200;
  border-radius: 0.75rem !important;
  font-family: sans-serif;
}

.form-group {
  border: #e5eaef;
  box-shadow: none;
}

input,
textarea {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
  border-radius: 0.75rem !important;
  font-family: sans-serif;
}
::placeholder {
  color: #e5eaef;
  font-family: sans-serif;
  font-size: 12px;
}

.avatar-list {
  display: flex !important;
}

.uploadImage input {
  display: none;
}

.btn-upload {
  color: white;
  width: 20px;
  height: 20px;
  background-color: #ced0d3;
  position: relative;
  left: 30%;
  top: 25%;
}

.uploadIcon {
  font-family: auto;
  position: relative;
  bottom: 2px;
  right: 5px;
}

.uploadImage {
  border: #e5eaef 1px dashed;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 0.75rem !important;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.avatar-preview {
  width: 50px;
  height: 50px;
  border-radius: 0.75rem !important;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.avatar-preview > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-preview > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
