<div class="row jutstify-content-center m-3">
  <div class="col-md-6">
    <div class="title-content d-flex mt-3 mb-4">
      <div class="col-md-3 align-self-center"><span class="title-text">Equipement</span></div>
      <div class="col-md-9 align-self-center text-right">
        <button type="button" class="btn btnAdd float-right" (click)="newEquipement()">
          <i class="fa fa-plus"></i>
          <span>Add Equipement</span>
        </button>
      </div>
    </div>
    <div class="list p-3">
      <div class="search-list">
        <div class="form-group search position-relative">
          <i class="fa fa-search icon-input"></i>
          <input
            type="text"
            class="form-control has-icon"
            placeholder="Search"
            name="search"
            (keyup)="search()"
            [(ngModel)]="currentSearch"
          />
        </div>
      </div>

      <div class="table-responsive" *ngIf="equipements">
        <table class="w-100">
          <thead>
            <tr>
              <th><span jhiTranslate="global.field.id">ID</span></th>
              <th><span jhiTranslate="com.mycompany.myappApp.equipement.modelName">model Name</span></th>
              <th><span jhiTranslate="com.mycompany.myappApp.equipement.modelNumber">model Number</span></th>
            </tr>
          </thead>

          <tbody *ngIf="equipements">
            <tr *ngFor="let equipement of equipements" (click)="loadEquipement(equipement)" class="tbody-line">
              <td>
                <span class="text-orange">{{ equipement.id }}</span>
              </td>
              <td>
                <span>{{ equipement.modelName }}</span>
              </td>
              <td>
                <span>{{ equipement.modelNumber }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="size-list">
        <select class="form-control size" name="size" [(ngModel)]="size" (change)="loadAll()">
          <option *ngFor="let size of sizes" [ngValue]="size">Show {{ size }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="update p-3 mt-3 mb-4">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()">
        <div *ngIf="selectedEquipement">
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="form-control-label" jhiTranslate="com.mycompany.myappApp.equipement.modelName">model Name</label>
              <input type="text" class="form-control" name="modelName" [(ngModel)]="selectedEquipement.modelName" />
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label" jhiTranslate="com.mycompany.myappApp.equipement.modelNumber">model Number</label>
              <input type="text" class="form-control" name="modelNumber" [(ngModel)]="selectedEquipement.modelNumber" />
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="form-control-label">Status</label>
              <select class="form-control" name="activated" [(ngModel)]="selectedEquipement.verified">
                <option [value]="true">Activated</option>
                <option [value]="false">Deactivated</option>
              </select>
            </div>
            <div class="form-group col-md-6"></div>
          </div>

          <div class="row ml-1">
            <div class="form-group">
              <label class="form-control-label" jhiTranslate="com.mycompany.myappApp.equipement.media">media</label><br />
              <div class="avatar-list d-flex">
                <div class="uploadImage box-a">
                  <div class="avatar-edit">
                    <input type="file" id="imageUpload" #fileInput (change)="uploadFile($event)" accept="image/*" />
                  </div>
                  <button type="button" class="btn btn-sm btn-upload" (click)="fileInput.click()">
                    <span class="uploadIcon"></span>
                  </button>
                </div>

                <div *ngFor="let media of selectedEquipement.media">
                  <div class="badge badge-pill badge-delete" (click)="deleteMedia(media)">
                    <span class="close"></span>
                  </div>
                  <div class="avatar-preview preview-with-badge">
                    <div [style.backgroundImage]="'url(' + media.filePath + ')'">
                      <i class="zoom-in" (click)="openMedia(contentMedia)"></i>
                    </div>

                    <ng-template #contentMedia>
                      <div class="modal-header">
                        <button type="button" class="close" (click)="closeMedia()"><i class="fa fa-close text-danger"></i></button>
                      </div>
                      <div class="modal-body">
                        <div class="image-preview" [style.backgroundImage]="'url(' + media.filePath + ')'"></div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-right" *ngIf="selectedEquipement">
          <button
            type="button"
            class="btn m-2"
            style="background-color: #bd0202"
            *ngIf="selectedEquipement.id"
            (click)="deleteEquipement(selectedEquipement.id!)"
          >
            <span class="text-white">Delete</span>
          </button>
          <button type="submit" class="btn m-2" style="background-color: #00b300">
            <span class="text-white">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
