<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="events">
      <h2 data-cy="eventsDetailsHeading"><span jhiTranslate="com.mycompany.myappApp.events.detail.title">Events</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ events.id }}</span>
        </dd>
        <dt><span jhiTranslate="com.mycompany.myappApp.events.eventName">Event Name</span></dt>
        <dd>
          <span>{{ events.eventName }}</span>
        </dd>
        <dt><span jhiTranslate="com.mycompany.myappApp.events.eventDate">Event Date</span></dt>
        <dd>
          <span>{{ events.eventDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="com.mycompany.myappApp.events.user_id">User Id</span></dt>
        <dd>
          <span>{{ events.user_id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/events', events.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
