<div>
  <h2 id="page-heading" data-cy="ParkHeading">
    <span jhiTranslate="herokutestingApp.park.home.title">Parks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="herokutestingApp.park.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-park"
        [routerLink]="['/park/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="herokutestingApp.park.home.createLabel"> Create a new Park </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parks?.length === 0">
    <span jhiTranslate="herokutestingApp.park.home.notFound">No parks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parks && parks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parkName">
            <span jhiTranslate="herokutestingApp.park.parkName">Park Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parkAddress">
            <span jhiTranslate="herokutestingApp.park.parkAddress">Park Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longtitude">
            <span jhiTranslate="herokutestingApp.park.longtitude">Longtitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <span jhiTranslate="herokutestingApp.park.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="verified">
            <span jhiTranslate="herokutestingApp.park.verified">Verified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateInstall">
            <span jhiTranslate="herokutestingApp.park.dateInstall">Date Install</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateOpen">
            <span jhiTranslate="herokutestingApp.park.dateOpen">Date Open</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateClose">
            <span jhiTranslate="herokutestingApp.park.dateClose">Date Close</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="note"><span jhiTranslate="herokutestingApp.park.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="reseller">
            <span jhiTranslate="herokutestingApp.park.reseller">Reseller</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let park of parks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/park', park.id, 'view']">{{ park.id }}</a>
          </td>
          <td>{{ park.parkName }}</td>
          <td>{{ park.parkAddress }}</td>
          <td>{{ park.longtitude }}</td>
          <td>{{ park.latitude }}</td>
          <td>{{ park.verified }}</td>
          <td>{{ park.dateInstall | formatMediumDatetime }}</td>
          <td>{{ park.dateOpen | formatMediumDatetime }}</td>
          <td>{{ park.dateClose | formatMediumDatetime }}</td>
          <td>{{ park.note }}</td>
          <td>{{ park.reseller }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/park', park.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/park', park.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(park)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="parks && parks.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
