<div>
  <div>
    <div class="form-group mt-2 position-relative">
      <i class="fa fa-search icon-input"></i>
      <input
        type="text"
        class="form-control has-icon"
        placeholder="Search"
        name="search"
        formControlName="search"
        #search
        (keyup)="searchEquipement(search.value)"
      />
    </div>
  </div>

  <div class="equipementLine" *ngFor="let equipement of equipements">
    <div class="avatar-preview">
      <img [src]="equipement.modalPreview" />
    </div>
    <div class="modelInfo">
      <span class="modelName">{{ equipement.modelName }}</span
      ><br />
      <span class="modelNumber">{{ equipement.modelNumber }}</span>
    </div>
    <div class="info">
      <i class="file" [routerLink]="['/equipement', equipement.id, 'service']"></i>
    </div>
  </div>
  <div class="d-flex bottom-column">
    <button class="footer-button" routerLinkActive="active" routerLink="/reportProblem">
      <fa-icon [icon]="['fas', 'exclamation-circle']" size="1x"></fa-icon> Report a problem
    </button>
  </div>
</div>
