<div class="login-body">
  <div class="d-flex justify-content-center">
    <div>
      <div class="user-space">
        <i class="user"></i>
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="{{ 'login.form.email.placeholder' | translate }}"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="{{ 'login.form.password.placeholder' | translate }}"
            formControlName="password"
            data-cy="password"
          />
        </div>

        <button type="submit" class="login-button" jhiTranslate="login.form.button" data-cy="submit">Login</button>
      </form>

      <div class="">
        <span class="secondary" jhiTranslate="login.messages.or">OR</span>
        <button type="button" class="footer-button" jhiTranslate="login.messages.continue">Continue without registering</button>
        <span class="secondary" jhiTranslate="global.messages.info.register.noaccount">Not registered yet?</span>
        <a class="warning" routerLink="/account/register" jhiTranslate="global.messages.info.register.link"> Register now!</a>
      </div>
    </div>
  </div>
</div>
